---
layout: default
title: Home
---

{% if page.url == "/" %}

{% include home-hero.html %}

<!-- Featured
================================================== -->
<section class="featured-posts" id="featured">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>

    {% include featured-spotlight.html %}

    <div class="row">
    {% assign spotlight_url = nil %}
    {% for post in site.posts %}
        {% if post.featured and spotlight_url == nil %}
            {% assign spotlight_url = post.url %}
        {% endif %}
    {% endfor %}

    {% for post in site.posts %}
        {% if post.featured == true and post.url != spotlight_url %}
            {% include featuredbox.html %}
        {% endif %}
    {% endfor %}
    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts" id="articles">

    <div class="section-title">
        <h2><span>All Articles</span></h2>
    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>
