<div class="share sticky-top sticky-top-offset">
    <p>Share</p>
    <ul>
        <li class="ml-1 mr-1">
            <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ page.url | absolute_url | url_encode }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" aria-label="Share on X">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li class="ml-1 mr-1">
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}" onclick="window.open(this.href, 'width=550,height=435');return false;" aria-label="Share on LinkedIn">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
        <li class="ml-1 mr-1">
            <a target="_blank" rel="noopener noreferrer" href="https://wa.me/?text={{ page.title | url_encode }}%20{{ page.url | absolute_url | url_encode }}" aria-label="Share on WhatsApp">
                <i class="fab fa-whatsapp"></i>
            </a>
        </li>
        <li class="ml-1 mr-1">
            <button type="button" class="share-copy-btn" data-copy-url="{{ page.url | absolute_url }}" aria-label="Copy link">
                <i class="fa fa-link"></i>
            </button>
        </li>
    </ul>
</div>
